.blue {
	color: blue;
}

.top {
	display: inline-block;
	margin-top: 10px;
}

body {
	background-color: #F5F5F5;
}

.text {
	color: #aaa;
}

.bounty {
	margin-left: 5px;
	margin-top: 10px;
}

.largebody {
	background-color: white;
}
.icono {
	display: inline-block;
	margin-left: 10px;
	}

.new {
	 border-color: dark gray;
   height:15px;
   width:35px;
	 font-size:8px;
	 color: #aaa;
	 background-color: white;
	 
}
.new:hover {
    background-color: #4CAF50; 
    color: white;
}

.message {
	margin-top: 5px;
	margin-left: 20px;
}

.circle {
  background-color: gray;
  height: 20px;
  width: 20px;
  border-radius: 100%;
  index-left: 250px;
  float: left;
}

.button5 {
	border-radius: 12px;
	background-color: white;
	border-color: lightblue;

}

.circlepart {
	display: inline;
}
    